include README.md
include LICENCE

include epicbot_images/assets/fonts/Roboto-Bold.ttf

include epicbot_images/assets/meme_templates/drake.png
include epicbot_images/assets/meme_templates/disappointed.png
include epicbot_images/assets/meme_templates/flex_tape.png
include epicbot_images/assets/meme_templates/bernie.png
include epicbot_images/assets/meme_templates/doge.png
include epicbot_images/assets/meme_templates/panik.png

include epicbot_images/temp/drake.png
include epicbot_images/temp/disappointed.png
include epicbot_images/temp/flex_tape.png
include epicbot_images/temp/bernie.png
include epicbot_images/temp/doge.png
include epicbot_images/temp/panik.png